* {
  box-sizing: border-box;
}

body {
  min-height: 600px;
  margin: var(--size-none);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.socialIcon{
  width: 48px;
  height: 48px;
  padding: 4px;
}

.socialIcon img {
  width: 48px;
  height: 48px;
}

.headerColumnWrapContent {
	width: initial;
  max-width: var(--horizontal-eighth);
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  header {
    flex-direction: column;
  }
}

.headerColumnMenu {
  max-width: var(--horizontal-three-eighths);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.pagesLink {
  padding: var(--size-none) var(--size-xsmall);
  margin: var(--size-xxsmall);
}

.pagesLink h3 {
  padding: var(--size-none) var(--size-none);
  margin: var(--size-none) var(--size-none);
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  .pagesLink {
    padding: var(--size-none) var(--size-none);
    margin: var(--size-xxsmall) var(--size-xxsmall);
  }
}

#container {
  margin: var(--size-none) var(--size-none);
}

.maxWidthContent {
  max-width: var(--horizontal-full);
  margin: auto;
}

#content {
  max-width: var(--horizontal-full);
  margin: auto;
}

#content img {
  max-width:100%;
  height:auto;
}

.post {
   word-wrap: break-word;
}

.divider {
  margin-top: var(--size-xlarge);
  margin-bottom: var(--size-xlarge);
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapToContent {
  width: fit-content;
  block-size: fit-content;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: var(--size-xsmall);
  padding-bottom: var(--size-small);
}

.footerColumn {
  padding: var(--size-xsmall);
	width: 100%;
	max-width: var(--horizontal-quarter);
  text-align: center;
}

#backgroundVideoContainer {
  width: 100%;
  position: relative; 
}

#backgroundVideo {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  margin-bottom: -4px;
}

#videoHeader {
  position: absolute;
  z-index: 10;
  bottom: var(--size-none);
  left: var(--size-none);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headervidlink {
  width: 100%;
	max-width: var(--horizontal-full);
}

.navButton {
  margin: var(--size-none);
  padding: var(--size-xxsmall) var(--size-none)
}

.navButton a {
  padding: var(--size-xxsmall) var(--size-medium);
}

.alignCenter {
  align-content: center;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceEvenly {
  justify-content: space-evenly;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  .justifyCenter {
    justify-content: center;
  }
  
  .justifySpaceAround {
    justify-content: space-around;
  }
  
  .justifySpaceEvenly {
    justify-content: space-evenly;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .justifyStart {
    flex-direction: column;
  }
}

.section {
  min-height: var(--size-xxxtall);
  padding: var(--size-large) var(--size-none);
  display: flex;
  flex-wrap: wrap;
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  .section {
    min-height: auto;
    padding: var(--size-large) var(--size-none);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.sectionAlignEnd {
  flex-direction: row-reverse;
}

.sectionAlignStart {
  flex-direction: row;
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  .sectionAlignEnd {
    flex-direction: column;
  }
  
  .sectionAlignStart {
    flex-direction: column;
  }
}

.sectionColumnHalf {
	width: 100%;
	max-width: var(--horizontal-quarter);
  padding: var(--size-medium) var(--size-medium);
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionColumnMain {
	width: 100%;
	max-width: var(--horizontal-three-eighths);
  padding: var(--size-medium) var(--size-medium);
}

.sectionColumnSub {
	width: 100%;
	max-width: var(--horizontal-eighth);
  padding: var(--size-medium) var(--size-none);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionColumnFullWidth {
	width: 100%;
	max-width: 1000px;
  padding: var(--size-medium) var(--size-medium);
}

.flexAlignCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexAlignStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#discordEmbed {
	width: 100%;
  padding: var(--size-none);
  height: 600px;
}

.sectionTriButton {
	display: flex;
  justify-content: space-between;
}

.triButton {
  padding: var(--size-none);
	flex: 1;
}  

.triButton a {
  display: block;
  padding: var(--size-xlarge) var(--size-small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Breakout width is 960. We are using 980 to account for 20px of scrollbar width. */
@media screen and (max-width: 980px) {
  .triButton a {
    padding: var(--size-medium) var(--size-xxsmall);

  }
}

.sectionGameRow {
  display: flex;
  margin-left: -150px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: var(--size-medium);
  padding-bottom: var(--size-medium);
}

.sectionGameInnerRow {
  display: flex;
  flex-wrap: nowrap;
}

.gameCatalogItem {
  margin: var(--size-none) -64px;
  height: 350px;
  width: 450px;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.verticalPaddingLarge {
  padding-top: var(--size-large);
  padding-bottom: var(--size-large);
}

.verticalPaddingXLarge {
  padding-top: var(--size-xlarge);
  padding-bottom: var(--size-xlarge);
}

.horizontalPaddingMediun {
  padding-left: var(--size-medium);
  padding-right: var(--size-medium);
}

.horizontalPaddingNone {
  padding-left: var(--size-none);
  padding-right: var(--size-none);
}

.heightXXSmall {
  height: var(--size-xxsmall);
}

.heightXSmall {
  height: var(--size-xsmall);
}

.heightSmall {
  height: var(--size-small);
}

.heightMedium {
  height: var(--size-medium);
}

.heightLarge {
  height: var(--size-large);
}

.heightXLarge {
  height: var(--size-xlarge);
}

.heightXXLarge {
  height: var(--size-xxlarge);
}

.paddingXXSmall {
  padding: var(--size-xxsmall);
}