<div class="footerColumn">
  <a href="{{ site.baseurl }}/">
    <img src="https://derpcompany.github.io/assets/web/logos/logo.png">
  </a>
</div>

<div class="footerColumn">
  <h1>
    Get Connected
  </h1>
  <a href="http://discord.derpcompany.com/" class="socialIcon" target="_blank" rel="noopener noreferrer"><img src="https://derpcompany.github.io/assets/web/social_icons/discord_icon.png"></a>
  <a href="https://www.youtube.com/user/D3rpCompany" class="socialIcon" target="_blank" rel="noopener noreferrer"><img src="https://derpcompany.github.io/assets/web/social_icons/youtube_icon.png"></a>
  <a href="https://www.twitch.tv/derpcompanytv" class="socialIcon" target="_blank" rel="noopener noreferrer"><img src="https://derpcompany.github.io/assets/web/social_icons/twitch_icon.png"></a>
  <a href="https://steamcommunity.com/groups/DerpCompanyGaming" class="socialIcon" target="_blank" rel="noopener noreferrer"><img src="https://derpcompany.github.io/assets/web/social_icons/steam_icon.png"></a>
  <a href="https://www.instagram.com/derp.company/" class="socialIcon" target="_blank" rel="noopener noreferrer"><img src="https://derpcompany.github.io/assets/web/social_icons/instagram_icon.png"></a>
</div>